body {
  font-family: 'Outfit', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar {
  transition: background-color 0.9s ease;
}

.navbar.scrolled {
  background-color: #000000;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('./Assets/Bg.png') center/cover no-repeat;
  position: relative;
  padding-top: 100px;
}

.hero h1 {
  max-width: 800px;
  margin: 0 auto 20px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #ff6b00;
  border: none;
}

.btn-primary:hover {
  background-color: #e45c00;
}
#about img {
  box-shadow: 0 10px 300px rgba(0,0,0,0.3);
}

#services img {
  width: 600px;
  height: auto;
}
